<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p><b>{{msg}}</b></p>
    </div>
    <p>If you are not able to get weather then again try with same location and check the spelling</p>
    <p>Followinig are my contact details :</p>
    <ul>1. Phone no: 9968222939</ul>
    <ul>2. Email : deepanshu.oct12@gmail.com</ul>
    {{>footer}}
</body>
</html>